@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");
/* line 1, ../../Cuarta entrega/Cuarta entrega/scss/_main.scss */
body {
  font-family: 'Open Sans Condensed', sans-serif;
}

/* line 5, ../../Cuarta entrega/Cuarta entrega/scss/_main.scss */
#banner {
  background-image: url("../media/banner.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  min-height: 300px;
  height: 30vh;
  position: relative;
}

/* line 16, ../../Cuarta entrega/Cuarta entrega/scss/_main.scss */
#bgImg {
  background-image: url(../media/logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
  min-height: 400px;
  height: 100vh;
}

@media all and (min-width: 992px) {
  /* line 16, ../../Cuarta entrega/Cuarta entrega/scss/_main.scss */
  #bgImg {
    height: 30vh;
  }
}

/* line 29, ../../Cuarta entrega/Cuarta entrega/scss/_main.scss */
.bgTexto {
  background-color: #f5f5f5d9;
}

/* line 33, ../../Cuarta entrega/Cuarta entrega/scss/_main.scss */
.imgCarousel {
  min-height: 400px;
  height: 50vh;
  margin: auto;
}

/* line 38, ../../Cuarta entrega/Cuarta entrega/scss/_main.scss */
.myTitles {
  font-size: 2rem;
}

@media all and (min-width: 768px) {
  /* line 38, ../../Cuarta entrega/Cuarta entrega/scss/_main.scss */
  .myTitles {
    font-size: 3rem;
  }
}

/* line 44, ../../Cuarta entrega/Cuarta entrega/scss/_main.scss */
.mySubTitles {
  font-size: 1.1rem;
}

@media all and (min-width: 768px) {
  /* line 44, ../../Cuarta entrega/Cuarta entrega/scss/_main.scss */
  .mySubTitles {
    font-size: 1.25rem;
  }
}

/* line 50, ../../Cuarta entrega/Cuarta entrega/scss/_main.scss */
.card-cover {
  height: 100%;
}

/* line 52, ../../Cuarta entrega/Cuarta entrega/scss/_main.scss */
.card-cover img {
  height: 100%;
}

/* line 57, ../../Cuarta entrega/Cuarta entrega/scss/_main.scss */
.card-body {
  height: 3rem;
}

/* line 62, ../../Cuarta entrega/Cuarta entrega/scss/_main.scss */
.container .titulo-oficinas {
  font-family: Open Sans Condensed, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 2rem;
}

@media all and (min-width: 992px) {
  /* line 62, ../../Cuarta entrega/Cuarta entrega/scss/_main.scss */
  .container .titulo-oficinas {
    font-size: 2rem;
  }
}

/* line 68, ../../Cuarta entrega/Cuarta entrega/scss/_main.scss */
.container p.subtitulo-oficinas {
  font-family: Open Sans Condensed, sans-serif;
  font-size: .85rem;
  font-weight: 400;
}

/* line 71, ../../Cuarta entrega/Cuarta entrega/scss/_main.scss */
.container .tarjeta {
  transition: all 300ms;
}

/* line 73, ../../Cuarta entrega/Cuarta entrega/scss/_main.scss */
.container .tarjeta:hover {
  transform: scale(1.1);
}

/* line 79, ../../Cuarta entrega/Cuarta entrega/scss/_main.scss */
footer li {
  margin: 3px;
}

/* line 82, ../../Cuarta entrega/Cuarta entrega/scss/_main.scss */
footer .container-fluid {
  background-color: #f5f5f5d9;
}

/*# sourceMappingURL=estilos.css.map */