body{
	font-family: 'Open Sans Condensed', sans-serif;
}

#banner{
	background-image: url('../media/banner.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100vw;
	min-height: 300px;
	height: 30vh;
	position: relative;
	font-weight: 300;
}
#bgImg{
	background-image: url(../media/logo.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #fff;
	min-height: 400px;
	height: 30vh;
	@media all and (min-width: 992px){
		height: 50vh;
	}
	
}

.bgTexto{
	background-color: $bgSoft;

}
.colorLogo{
	background-color: $colorLogo;
}
.imgCarousel{
	
	max-width: 80%;
	margin: auto;
}
.myTitles{
	font-size: 2rem;
	@media all and (min-width: 768px){
		font-size: 3rem;
	}
}
.mySubTitles{
	font-size: 1.1rem;
	@media all and (min-width: 768px){
		font-size: 1.25rem;
	}
}
.card-cover{
	height: 100%;
	img {
		height: 100%;
		}
}

.card-body{
	height: 3rem;
	}

.container{
	.titulo-oficinas{
		@include titulos-parametros;
		@media all  and (min-width: 992px){
			font-size: 2rem;
		}
	}	
	p.subtitulo-oficinas{
		@include subtitulos-parametros;
		}
	.tarjeta{
		
		transition: all 300ms;
		&:hover{
			transform: scale(1.1);
		}
	}
}
footer{	
	li{
		margin: 3px;
	}
	.container-fluid{
		background-color: $bgSoft;
	}
}

/*PÁGINA MISIÓN VISIÓN*/
.fraseAlberdi{
	line-height: 1.6;
}
.bg-misión{
	background-color: $colorLogo;
	.columnaIzquierda{
		padding: 70px 20px 60px 62px;
		line-height: 1.2;
		@include p-misión-visión
		p{
			color: white;
		}
	}
	.columnaDerecha img{
		height: 51%;
		position: relative;
		top: 90px;
		left: 30px;
	}
}
.título-sección{
	@include t-misión-visión
}
.subtítulo{
	@include titulos-parametros
	margin: 0;
}
.bg-visión{
	background-color: $colorLogo;
	.columnaIzquierda{
		padding: 70px 30px 60px 30px;
		@include p-misión-visión
		p{
			color: white;
		}
	}
}
#misionVision{
	background-image: url(../media/alberdi.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #fff;
	height: 50vh	;
	}

//Quienes Somos

#equipo{
	min-height: 100vh;
	background-color: #fff;

}
#equipo img{
	height: 140px;
}
